--- 
title: Unit >> Checkboxes
qunit: true
---
<% 
  checked = [2,4]
%>

<% content_for :js do %>
  $("input[type=checkbox]").custom_form();
  
  function check_options_integrity(checked){
    $("input[type=checkbox]").each(function(){
      var should_be_checked = checked.indexOf(Number( $(this).val() ) ) != -1;
      var is_checked = $(this).is(":checked");
      ok((should_be_checked && is_checked) || (!should_be_checked && !is_checked))
    })
  }
  
  module("On instantiation");
  
  test("Already checked checkboxes should have the active_checkbox class", function() {
    var checked = $(<%=mapped_selectors "#checkbox-", checked%>);
    checked.each(function(){
      ok( $(this).parent().hasClass("active_checkbox"), "The replacement <span> doesn't have the active_checkbox class" );
    })
    check_options_integrity([2,4])
  });
  
  module("On click");
  
  test("The checkbox should be checked if it wasn't", function(){
    $("#checkbox-1").parent().trigger("click");
    ok($("#checkbox-1").is(":checked"),"After clicking on the replacement <span>, the associated checbox is not checked")
    ok($("#checkbox-1").parent().hasClass("active_checkbox"),"After clicking on the replacement <span> it doesn't have the active_checkbox class")
    check_options_integrity([1,2,4])
  })
  
  
  test("The checkbox should be unchecked if it was checked", function(){
    $("#checkbox-1").parent().trigger("click");
    ok(!$("#checkbox-1").is(":checked"),"After clicking the replacement <span>, the associated checkbox is not unchecked")
    ok(!$("#checkbox-1").parent().hasClass("active_checkbox"),"After clicking on the replacement <span>, it still has the active_checkbox class")
    check_options_integrity([2,4])
  })
  
  module("When clicking the label");
  
  test("The checkbox should be checked if it wasn't", function(){
    $("label[for=checkbox-3]").trigger("click");
    ok($("#checkbox-3").is(":checked"),"After clicking the label, the associated checbox is not checked")
    ok($("#checkbox-3").parent().hasClass("active_checkbox"),"After clicking the label, it doesn't have the active_checkbox class")
    check_options_integrity([2,4,3])
  })
  
  test("The checkbox should be unchecked if it was checked", function(){
    $("label[for=checkbox-3]").trigger("click");
    ok(!$("#checkbox-3").is(":checked"),"After clicking the label, the associated checkbox is not unchecked")
    ok(!$("#checkbox-3").parent().hasClass("active_checkbox"),"After clicking the label, it still has the active_checkbox class")
    check_options_integrity([2,4])
  })
  
  module("Calling the 'check' method ")
  
  test("without arguments should toggle-check the checkbox",function(){
    var was_checked = $("#checkbox-8").is(":checked")
    $("#checkbox-8").custom_form("checked")
    ok(was_checked != $("#checkbox-8").is(":checked"),"After calling the method 'check' the checkbox is not toggled from "+was_checked.toString()+" to "+(!was_checked).toString())
    check_options_integrity([2,4,8])
    $("#checkbox-8").custom_form("checked")
    ok(was_checked == $("#checkbox-8").is(":checked"),"After calling the method 'check' the checkbox is not toggled from "+was_checked.toString()+" to "+(!was_checked).toString())
    check_options_integrity([2,4])
    
  })
  
  test("with TRUE should check the checkbox",function(){
    $("#checkbox-9").custom_form("checked",true)
    ok($("#checkbox-9").is(":checked"),"After calling the method 'check' the checkbox is not checked")
    check_options_integrity([2,4,9])
  })
  
  test("with TRUE on an already checked checkbox should not check it",function(){
    $("#checkbox-9").custom_form("checked",true)
    ok($("#checkbox-9").is(":checked"),"After calling the method 'check' the checkbox doesn't remain checked")
    check_options_integrity([2,4,9])
  })
  
  test("with FALSE should uncheck the checkbox",function(){
    $("#checkbox-4").custom_form("checked",false)
    ok(!$("#checkbox-4").is(":checked"),"After calling the method 'check' with false it doesn't uncheck the associated checkbox")
    check_options_integrity([2,9])
  })
  
  test("with FALSE on an unchecked checkbox, should not check it",function(){
    $("#checkbox-4").custom_form("checked",false)
    ok(!$("#checkbox-4").is(":checked"),"After calling the method 'check' with false on an unchecked checkbox, the checkbox gets checked")
    check_options_integrity([2,9])
  })
  
  module("Calling the 'update' method");
  
  test("should reflect the current state of the checkbox",function(){
    $("#checkbox-5").attr("checked",true)
    $("#checkbox-5").custom_form("update")
    ok($("#checkbox-5").parent().hasClass("active_checkbox"),"After calling the method 'update' on a programatically checked input it doesn't get the active_checkbox class")
    check_options_integrity([2,9,5])
    
    $("#checkbox-5").attr("checked",false)
    $("#checkbox-5").custom_form("update")
    ok(!$("#checkbox-5").parent().hasClass("active_checkbox"),"After calling the method 'update' on a programatically uncheckedchecked input it doesn't remove the active_checkbox class")
    check_options_integrity([2,9])
  })
  
  module("On send ");
  test("the correct values should be sent",function(){
    $("form").submit(function(event,b){
      event.preventDefault();
      equal("checkbox-2=2&checkbox-9=9",$(this).serialize())
    })
    $("form").submit();
  });
  
   test("Calling the disabled method",function(){
     $("#checkbox-11").custom_form("disabled",true);
     ok($("#checkbox-11").is(":disabled"),"with true should disable the checkbox")
     ok($("#checkbox-11").parent().hasClass("disabled_checkbox"),"with true should add the disabled class");
     
     $("#checkbox-11").custom_form("disabled",false);
     ok(!$("#checkbox-11").is(":disabled"),"with false should enable the checkbox")
     ok(!$("#checkbox-11").parent().hasClass("disabled_checkbox"),"with false should remove the disabled class")
     
     ok(!$("#checkbox-11").custom_form("disabled"),"Without params should return if the checkbox is disabled (false)")
     $("#checkbox-11").custom_form("disabled",true);
     ok($("#checkbox-11").custom_form("disabled"),"Without params should return if the checkbox is disabled (true)")
     ok(!$("#checkbox-11").custom_form("disabled","none"),"With 'none' should return if the checkbox is not disabled (false)")
     ok($("#checkbox-11").custom_form("disabled","any"),"With 'any' should return if at least one checkbox is disabled (true)")
   });
   
   test("Calling the disabled method on multiple elements",function(){
     $("#checkbox-12, #checkbox-13, #checkbox-14").attr("disabled",null);
     $("#checkbox-12, #checkbox-13, #checkbox-14").custom_form("disabled",true);
     $("#checkbox-12, #checkbox-13, #checkbox-14").each(function(){
       ok($(this).custom_form("disabled"),"Should be disabled if called with true on multiple elements")
     })
     ok($("#checkbox-12, #checkbox-13, #checkbox-14").custom_form("disabled"), "Should return if all elements are disabled")
     $("#checkbox-13").custom_form("disabled",false)
     ok(!$("#checkbox-12, #checkbox-13, #checkbox-14").custom_form("disabled"), "Should return if all elements are disabled, if one of them is enabled it returns false")
     ok($("#checkbox-12, #checkbox-13, #checkbox-14").custom_form("disabled","any"), "With 'any' should return if all elements are enabled, if one of them is disabled it returns false")
     ok(!$("#checkbox-12, #checkbox-13, #checkbox-14").custom_form("disabled","none"), "With 'any' should return if all elements are enabled, if one of them is disabled it returns false")
     
     $("#checkbox-12, #checkbox-13, #checkbox-14").custom_form("disabled",false);
     ok($("#checkbox-12, #checkbox-13, #checkbox-14").custom_form("disabled","none"),"With none, should return true if no checkbox is disabled")
     ok(!$("#checkbox-12, #checkbox-13, #checkbox-14").custom_form("disabled","all"),"With 'all', should return false if all the checkboxes are not disabled")
     ok(!$("#checkbox-12, #checkbox-13, #checkbox-14").custom_form("disabled","any"),"With 'any', should return false if at least one of the checkboxes is not disabled")
   });
   
   test("Already disabled elements should remain disabled",function(){
     ok($("#checkbox-16").is(":disabled"))
     ok($("#checkbox-16").parent().hasClass("disabled_checkbox"));
   })

<% end %>

<form autocomplete="off">
  <fieldset>
    <legend>Checkboxes</legend>    
    <% 15.times do |i| %>
      <input type="checkbox" <%= "checked='checked'" if checked.include?(i)%> id="checkbox-<%=i%>" value="<%=i%>" name="checkbox-<%=i%>">
      <label for="checkbox-<%=i%>">Checkbox <%=i%></label>
      <br/>
    <% end %>
    <input type="checkbox" id="checkbox-16" value="16" name="checkbox-16" disabled="disabled"/>
    <label for="checkbox-16">Checkbox 16</label><br/>
  </fieldset>
  
  <div id="free.free"></div>
</form>