--- 
title: Checkboxes
---

<form autocomplete="off" >
  <fieldset class="custom_form">
    <legend>Custom Form</legend>    
    <% (1..100).each do |i| %>
      <input type="checkbox" value="<%=i%>" id="checkbox-<%=i%>" name="checkbox-<%=i%>">
      <label for="checkbox-<%=i%>">Checkbox <%=i%></label>
      <br/>
    <% end %>
  </fieldset>
  <fieldset class="uniform">
    <legend>Uniform</legend>    
    <% (101..200).each do |i| %>
      <input type="checkbox" value="<%=i%>" id="checkbox-<%=i%>" name="checkbox-<%=i%>">
      <label for="checkbox-<%=i%>">Checkbox <%=i%></label>
      <br/>
    <% end %>
  </fieldset>
  <fieldset class="pretty">
    <legend>PrettyCheckboxes</legend>    
    <% (201..300).each do |i| %>
      <input type="checkbox" value="<%=i%>" id="checkbox-<%=i%>" name="checkbox-<%=i%>">
      <label for="checkbox-<%=i%>">Checkbox <%=i%></label>
      <br/>
    <% end %>
  </fieldset>
</form>


<% content_for :table do %>
  <tr>
    <th scope="row" id="title-1"><div>Custom-Form</div></th>
    <td>
    <pre><code>$(".custom_form input").custom_form()</code></pre>
    </td>
    <td id="results-1" class="results"></td>
  </tr>
  
  <tr>
    <th scope="row" id="title-2"><div>Uniform</div></th>
    <td>
    <pre><code>$(".uniform input").uniform()</code></pre>
    </td>
    <td id="results-2" class="results"></td>
  </tr>
  
  <tr>
    <th scope="row" id="title-3"><div>PrettyCheckboxes</div></th>
    <td>
    <pre><code>$(".pretty input").prettyCheckboxes()</code></pre>
    </td>
    <td id="results-3" class="results"></td>
  </tr>
<% end %>

<% content_for :extra_js do %>
  <script src="/javascripts/jquery.uniform.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/prettyCheckboxes.js" type="text/javascript" charset="utf-8"></script>
<% end %>

<% content_for :js do %>
  ui.add("Custom Form",function(){
    $(".custom_form input").custom_form();
  })
  .add("Uniform",function(){
    $(".uniform input").uniform();
  })
  .add("PrettyCheckboxes",function(){
    $(".pretty input").prettyCheckboxes();
  })
  
<% end %>