.select, .checkbox, .radio, .select .select_button, .checkbox + label, .radio + label{
  display: -moz-inline-stack; /*Cross browser inline-block*/
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

.checkbox, .radio, input[type=checkbox], input[type=radio]{  
  height:14px;
  width:14px;
  overflow:hidden;
}

input[type=checkbox], input[type=radio]{
  margin:0;
  padding:0;
}

select{
  margin:0;
}

.checkbox, .radio, .select_button_icon {
  background-image: url('../images/custom_forms_sprite.png');
  background-repeat: no-repeat;
}

.checkbox input, .radio input{
  position:relative;
  display:block;
  left:-9999px;
}

.checkbox{ background-position:0 0; }
.hover_checkbox{ background-position:0 -14px; }
.active_checkbox{ background-position:0 -28px;  }

.radio{ background-position:0 -42px; }
.hover_radio{ background-position:0 -56px; }
.active_radio{ background-position:0 -70px;  }

span.select{
  overflow:hidden;
  
  background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #f9f9f9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefefe 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefefe 0%,#f9f9f9 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #fefefe 0%,#f9f9f9 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #fefefe 0%,#f9f9f9 100%); /* W3C */
  
}

span.select, span.select .select_label, span.select .select_button{
  height:201px;
  line-height:201px;
}


span.select{
  border-style: solid;
  border-width: 1px;
  border-color: #6D6D6D;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

span.select select{
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  top: -100%;
  height:100%;
/*  -webkit-appearance: none;*/
}

span.select .select_label{
  float:left;
  margin:0;
  overflow:hidden;
  padding-right:1px;
  padding-left:2px;
  font-size:13px;
  font-family: Helvetica, Arial, sans-serif;
  color:#000;
}

.select .select_button{
  background: #eee;
  width: 22px;
  
  float: right;
  border-left:1px solid #6D6D6D;
  
  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(top, #fcfcfc 0%, #dddedf 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#dddedf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcfcfc 0%,#dddedf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcfcfc 0%,#dddedf 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #fcfcfc 0%,#dddedf 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#dddedf',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #fcfcfc 0%,#dddedf 100%); /* W3C */
}
.select .select_button .select_button_icon{
  display:block;
  width:7px;
  height:4px;
  margin-left:-4px; /*width/2*/
  margin-top:-2px; /*height/2*/
  background-position:0 -84px;
  position:relative;
  top:50%;
  left:50%;
}

.disabled_checkbox, .disabled_radio, .disabled_select{
  opacity:0.5;
}