--- 
title: Custom Forms demo
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>index</title>
  	<link rel="stylesheet" href="/stylesheets/custom_form.css" type="text/css" media="screen" title="no title" charset="utf-8"/> 
  	<%= include_css "demo" %>
  </head>
  <body>
    <form autocomplete="off">
      <fieldset>
        <legend><span>Checkboxes</span></legend>
        <% (0..4).each do |i| %>
          <input type="checkbox" id="custom_checkbox_<%=i%>" name="ids[<%=i%>]" value="1" <%=tabindex%>/>
          <label for="custom_checkbox_<%=i%>">Checkbox <%=i%></label>
        <% end %>
        
        <div class="notes">
          <div class="section">
            <small>HTML</small>
            <code><pre>  &lt;input type=&quot;checkbox&quot; id=&quot;custom_checkbox_0&quot; name=&quot;ids[]&quot; value=&quot;0&quot;/&gt;
  &lt;label for=&quot;custom_checkbox_0&quot;&gt;Checkbox 0&lt;/label&gt;</code></pre>
          </div>
        </div>
        
        <% (5..9).each do |i| %>
          <label><input type="checkbox" id="custom_checkbox_<%=i%>" name="ids[<%=i%>]" value="1" <%=tabindex%>/> Checkbox <%=i%></label>
        <% end %>
        
        <div class="notes last">
          <div class="section">
            <small>HTML</small>
            <code><pre>  &lt;label&gt;&lt;input type=&quot;checkbox&quot; id=&quot;custom_checkbox_5&quot; name=&quot;ids[]&quot; value=&quot;0&quot;/&gt; Checkbox 5&lt;/label&gt;</code></pre>
          </div>
          <div class="section">
            <small>JS</small>
            <code><pre>  $(&quot;[type=checkbox]&quot;).custom_form();</code></pre>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend><span>Radios</span></legend>
  
        <% (0..4).each do |i| %>
          <input type="radio" id="custom_radio_<%=i%>" name="value" value="<%=i%>" <%=tabindex%>/>
          <label for="custom_radio_<%=i%>">Radio <%=i%></label>
        <% end %>
  
        <div class="notes">
          <div class="section">
            <small>HTML</small>
            <code><pre>  &lt;input type=&quot;radio&quot; id=&quot;custom_radio_0&quot; name=&quot;values[]&quot; value=&quot;0&quot;/&gt;
  &lt;label for=&quot;custom_radio_0&quot;&gt;radio 0&lt;/label&gt;</code></pre>
          </div>
          <div class="section">
            <small>JS</small>
            <code><pre>  $(&quot;[type=radio]&quot;).custom_form();</code></pre>
          </div>
        </div>
  
        <% (5..9).each do |i| %>
          <label for="custom_radio_<%=i%>"><input type="radio" id="custom_radio_<%=i%>" name="value" value="<%=i%>" <%=tabindex%>/> Radio <%=i%></label>
        <% end %>
  
        <div class="notes last">
          <div class="section">
            <small>HTML</small>
            <code><pre>  &lt;label&gt;&lt;input type=&quot;radio&quot; id=&quot;custom_radio_5&quot; name=&quot;values[]&quot; value=&quot;0&quot;/&gt; radio 5&lt;/label&gt;</code></pre>
          </div>
          <div class="section">
            <small>JS</small>
            <code><pre>  $(&quot;[type=radio]&quot;).custom_form();</code></pre>
          </div>
        </div>
      </fieldset>
      
      <fieldset>
        <legend><span>Selects</span></legend>
  
        <label for="custom_select_1">Country</label>
        <select id="custom_select_1" class="custom_form" name="country_1" <%=tabindex%>>
          <option value="" selected="selected">Select Country</option> 
          <option value="Spain">Spain</option> 
          <option value="United States">United States</option> 
          <option value="United Kingdom">United Kingdom</option> 
          <option value="Afghanistan">Afghanistan</option> 
          <option value="Albania">Albania</option> 
          <option value="Algeria">Algeria</option> 
          <option value="American Samoa">American Samoa</option> 
          <option value="Andorra">Andorra</option> 
          <option value="...">...</option> 
        </select>
        
        <label for="custom_select_2">Credit Card</label>
        <select id="custom_select_2" class="custom_form" name="credit_card" <%=tabindex%>> 
          <option value="" selected="selected">Select Credit Card</option> 
          <option value="Visa">Visa</option> 
          <option value="MasterCard">MasterCard</option> 
          <option value="American Express">American Express</option> 
          <option value="...">...</option> 
        </select>
        
  
        <div class="notes">
          <div class="section">
            <small>HTML</small>
            <code><pre>  &lt;label for=&quot;custom_select_1&quot;&gt;Country&lt;/label&gt;
  &lt;select id=&quot;custom_select_1&quot;&gt;
    &lt;option value=&quot;&quot; selected=&quot;selected&quot;&gt;Select Country&lt;/option&gt; 
    &lt;option value=&quot;...&quot;&gt;...&lt;/option&gt; 
  &lt;/select&gt;</code></pre>
          </div>
          <div class="section">
            <small>JS</small>
            <code><pre>  $(&quot;select&quot;).custom_form();</code></pre>
          </div>
        </div>
  
        <div style="width:100%">
          <div style="width:49%; margin-right:1%; float:left">
            <label for="custom_select_3" style="display:block">Country</label>
            <select id="custom_select_3" class="custom_form_responsive" name="country_2" <%=tabindex%>>
              <option value="" selected="selected">Select Country</option> 
              <option value="Spain">Spain</option> 
              <option value="United States">United States</option> 
              <option value="United Kingdom">United Kingdom</option> 
              <option value="Afghanistan">Afghanistan</option> 
              <option value="Albania">Albania</option> 
              <option value="Algeria">Algeria</option> 
              <option value="American Samoa">American Samoa</option> 
              <option value="Andorra">Andorra</option> 
              <option value="...">...</option> 
            </select>
          </div>
          
          <div style="width:49%; margin-left:1%; float:left">
            <label for="custom_select_4"  style="display:block">Credit Card</label>
            <select id="custom_select_4" class="custom_form_responsive" name="credit_card_2" <%=tabindex%>>
              <option value="" selected="selected">Select Credit Card</option> 
              <option value="Visa">Visa</option> 
              <option value="MasterCard">MasterCard</option> 
              <option value="American Express">American Express</option> 
              <option value="...">...</option> 
            </select>
          </div>
        </div>
        <div style="clear:both"></div>
        <div class="notes last">
          <div class="section">
            <small>HTML</small>
            <code><pre>  &lt;div style=&quot;width:100%&quot;&gt;
    &lt;div style=&quot;width:49%; margin-right:1%; float:left&quot;&gt;
      &lt;label for=&quot;custom_select_3&quot; style=&quot;display:block&quot;&gt;Country&lt;/label&gt;
      &lt;select id=&quot;custom_select_3&quot; style=&quot;width:100%&quot;&gt;
        &lt;option value=&quot;&quot; selected=&quot;selected&quot;&gt;Select Country&lt;/option&gt; 
        &lt;option value=&quot;United States&quot;&gt;Spain&lt;/option&gt; 
        &lt;option value=&quot;United States&quot;&gt;United States&lt;/option&gt; 
        &lt;option value=&quot;United Kingdom&quot;&gt;United Kingdom&lt;/option&gt; 
        &lt;option value=&quot;Afghanistan&quot;&gt;Afghanistan&lt;/option&gt; 
        &lt;option value=&quot;Albania&quot;&gt;Albania&lt;/option&gt; 
        &lt;option value=&quot;Algeria&quot;&gt;Algeria&lt;/option&gt; 
        &lt;option value=&quot;American Samoa&quot;&gt;American Samoa&lt;/option&gt; 
        &lt;option value=&quot;Andorra&quot;&gt;Andorra&lt;/option&gt; 
        &lt;option value=&quot;...&quot;&gt;...&lt;/option&gt; 
      &lt;/select&gt;
    &lt;/div&gt;

    &lt;div style=&quot;width:49%; margin-left:1%; float:left&quot;&gt;
      &lt;label for=&quot;custom_select_4&quot;  style=&quot;display:block&quot;&gt;Credit Card&lt;/label&gt;
      &lt;select id=&quot;custom_select_4&quot; style=&quot;width:100%&quot;&gt;
        &lt;option value=&quot;&quot; selected=&quot;selected&quot;&gt;Select Credit Card&lt;/option&gt; 
        &lt;option value=&quot;United States&quot;&gt;Visa&lt;/option&gt; 
        &lt;option value=&quot;United States&quot;&gt;MasterCard&lt;/option&gt; 
        &lt;option value=&quot;United Kingdom&quot;&gt;American Express&lt;/option&gt; 
        &lt;option value=&quot;...&quot;&gt;...&lt;/option&gt; 
      &lt;/select&gt;
    &lt;/div&gt;
  &lt;/div&gt;</code></pre>
          </div>
          <div class="section">
            <small>JS</small>
            <code><pre>  $(&quot;select&quot;).custom_form({
    responsive_select:true
  });</code></pre>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend><span>File</span></legend>
  
        <label for="custom_file_1">Attachment</label>
        <input id="custom_file_1" type="file" style="width:400px" disabled="disabled"/>        
  
        <div class="notes">
          <div class="section">
            <small>HTML</small>
            <code><pre>  &lt;label for=&quot;custom_file_1&quot;&gt;Attachment&lt;/label&gt;
  &lt;input id=&quot;custom_file_1&quot; type=&quot;file&quot; style=&quot;width:400px&quot;/&gt;</code></pre>
          </div>
          <div class="section">
            <small>JS</small>
            <code><pre>  $(&quot;[type=file]&quot;).custom_form();</code></pre>
          </div>
        </div>
  
        <div style="width:100%">
          <div style="width:49%; margin-right:1%; float:left">
            <label for="custom_file_2">Attachment</label>
            <input id="custom_file_2" type="file"/>  
          </div>
          
          <div style="width:49%; margin-left:1%; float:left">
            <label for="custom_file_3">Attachment</label>
            <input id="custom_file_3" type="file"/>  
          </div>
        </div>
        <div style="clear:both"></div>
        <div class="notes last">
          <div class="section">
            <small>HTML</small>
            <code><pre>  &lt;div style=&quot;width:100%&quot;&gt;
    &lt;div style=&quot;width:49%; margin-right:1%; float:left&quot;&gt;
      &lt;label for=&quot;custom_file_2&quot;&gt;Attachment&lt;/label&gt;
      &lt;input id=&quot;custom_file_2&quot; type=&quot;file&quot; style=&quot;width:100%&quot;/&gt;  
    &lt;/div&gt;
  
    &lt;div style=&quot;width:49%; margin-left:1%; float:left&quot;&gt;
      &lt;label for=&quot;custom_file_3&quot;&gt;Attachment&lt;/label&gt;
      &lt;input id=&quot;custom_file_3&quot; type=&quot;file&quot; style=&quot;width:100%&quot;/&gt;  
    &lt;/div&gt;
  &lt;/div&gt;</code></pre>
          </div>
          <div class="section">
            <small>JS</small>
            <code><pre>  $(&quot;[typ=file]&quot;).custom_form({
    responsive_file:true
  });</code></pre>
          </div>
        </div>
      </fieldset>
      <input type="submit"/>
    </form>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/custom_form.js" type="text/javascript" charset="utf-8"></script>
    
    <script type="text/javascript" charset="utf-8">
      $("select.custom_form_responsive, #custom_file_2, #custom_file_3").custom_form({
        responsive_select:true,
        responsive_file:true
      })
      $("[type=checkbox], [type=radio], select.custom_form, #custom_file_1").custom_form();
    </script>
  </body>
</html>
