<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>file</title>
	<link rel="stylesheet" href="stylesheets/custom_form.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
	
</head>

<body>

<span class="file" style="width: 400px;"><span class="file_content"><span class="file_button"><span></span>Choose file</span><span class="file_label" style="width: 328px;"><span>No file chosen</span></span></span><span class="file_wrap"><input type="file" style="width:400px" id="custom_file_1"/></span></span>

<span class="file" style="width: 400px;"><span class="file_content"><span class="file_button"><span></span>Choose file</span><span class="file_label" style="width: 328px;"><span>No file chosen</span></span></span><span class="file_wrap"><input type="file" style="width:400px" id="custom_file_1"/></span></span>

<% 3.times do |i| %>
<div>
  <span class="file responsive_file"><span class="file_content"><span class="file_button"><span></span>Choose file</span><span class="file_label"><span>No file chosen</span></span></span><span class="file_wrap"><input id="custom_file_<%=i%>" type="file"></span></span>
</div>
<% end %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</body>
</html>
