#!/usr/bin/env ruby

compile '/stylesheet/' do
  # don’t filter or layout
end

compile '*' do
  unless item.binary?
    case item[:extension]
      when "markdown"
        filter :kramdown
      when "js"
        filter :erb
        # filter :yui
      else
        filter :erb
    end
  end
end

route '*' do
  identifier = item.identifier.chop
  case item[:extension]
    when "markdown"
      identifier + ".html"
    else
      identifier + '.' + item[:extension]
  end
end

layout '*', :erb
